<% layout('/layouts/boilerplate') -%>

  <body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" >
      <input name="listing[title]" placeholder="enter title" type="text"  required/>
      <br /><br />
      <textarea
        name="listing[description]"
        placeholder="enter description"
        required></textarea>
      <br /><br />
      <!-- <input
      required
        name="listing[image]"
        placeholder="enter image URL/Link"
        type="text"
      /> -->
      
      <br /><br />
      <input required name="listing[country]" placeholder="enter country" type="text" />
      <br /><br />
      <button>Add</button>
    </form>
  </body>